.about-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.image {
  flex: 1;
}

.profile-image {
  width: 100%;
  border-radius: 50%;
}

.content {
  flex: 2;
  margin-left: 40px;
}

h1, h2, h3 {
  margin: 0;
  font-weight: 400;
  color: #333;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.member {
  flex-basis: 25%;
  margin: 20px;
  text-align: center;
}

.member h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.member p {
  font-size: 16px;
  color: #666;
}

.cta {
  text-align: center;
}

.cta-button {
  background-color: #a0151c;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  /* border-radius: 12px; */
}
