.container-fluid {
  padding: 0 15px;
}

.choose-device-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.filter-container {
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
}

.radio-container {
  display: block;
  margin: 10px 0;
}

.radio-container input[type="radio"] {
  margin-right: 5px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0px 2px 10px #ddd;
  transform: translateY(-5px);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.card-text {
  margin-bottom: 10px;
  font-size: 14px;
}

.price1,
.price2 {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.was,
.now {
  font-size: 12px;
  font-weight: 600;
  margin-right: 5px;
  color: #a0a0a0;
}

.was-price,
.now-price {
  font-size: 16px;
  font-weight: 600;
}

.add-to-cart-btn {
  background-color: #f0c14b;
  color: #111;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 10px;
  margin-bottom: 10px;
}

.add-to-cart-btn:hover {
  background-color: #f6d167;
}

.quantity-controls {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.quantity-btn {
  background-color: #f0c14b;
  color: #111;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-left: 10px;
}

.quantity-btn:hover {
  background-color: #f6d167;
}

.remove-from-cart-btn {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 10px;
  margin-bottom: 10px;
}

.remove-from-cart-btn:hover {
  background-color: #e4606d;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.cart-item img {
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
}

.cart-item-title {
  font-size: 14px;
  font-weight: 600;
}

.cart-item-quantity {
  font-size: 14px;
  /* font-weight:  */
}

.was {
  color: red;
}

.now {
  color: green;
}

.was-price{
  color: red;
}

.now-price{
  color: green;
}

.navbar-brand{
 
}